<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>SEB Magic Iframe</title>
  <link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/light.css" integrity="sha384-33RmjeesW9BZ4wR2Gm3n4iBXOvGTto4znqL2kZleiRanWDxM59IHIq5RsbRioqxb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-srL3Qh9R/n855m4o5fegS//B2q0R1md7z6ndDYaPj8iEp0j0IuKdFVWMY0JosKPF" crossorigin="anonymous">


  <script type="module" src="/build/magic-iframe.esm.js"></script>
  <script nomodule src="/build/magic-iframe.js"></script>

</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" href="#">
      Magic iframe
    </span>
  <div class="github-ribbon-wrapper">
    <a class="github-ribbon" href="https://github.com/sebgroup/magic-iframe" target="_blank">Fork me on GitHub</a>
  </div>
  <span class="navbar-text d-none d-sm-inline-block">
        A magical iframe component
    </span>
</nav>
<div class="bg-primary-element py-5 px-3">
  <div class="row justify-content-between">
    <div class="col-12 col-md-auto">
      <h1 class="display-1 text-white">Magic iframe</h1>
      <p class="lead text-white">A magical iframe web component written with stenciljs</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!--<ng-template #inlineTip>Inject inline style in iframe: <code>body {{'{ background: white; margin: 0 auto; }' }}</code> (could be any style)</ng-template>-->
  <div class="row my-3">
    <div class="col-12 col-md-6">
      <h2 class="px-3 px-sm-0">Magic iframe</h2>
      <div class="card my-3">
        <div class="card-header border-bottom">
          <p class="mb-0 lead">The Magic iframe component adds responsiveness to iframes as well as the ability to listen to events, override styles and show custom loaders when iframe is loading content. <a href="https://github.com/sebgroup/ng-magic-iframe#install-with-npm" class="font-weight-normal d-block">Install using npm<i class="fal fa-arrow-right ml-2" style="font-size: 16px;"></i></a></p>
        </div>
        <div class="card-body">
          <!--<button *ngIf="!src" class="btn btn-primary" (click)="setSource()">Set iframe source</button>
          <seb-ng-magic-iframe #iframeComponent
                               [source]="src"
                               [styles]="magicControlsForm.get('inlineStyles').value ? styles : false"
                               [styleUrls]="magicControlsForm.get('externalStyles').value ? styleUrls : false"
                               [autoResize]="magicControlsForm.get('autoResize').value"
                               [matchContentWidth]="magicControlsForm.get('matchContentWidth').value"
                               [resizeDebounceMillis]="magicControlsForm.get('resizeDebounceMillis').value"
                               [scaleContent]="magicControlsForm.get('scaleContent').value"
                               (iframeEvent)="printEvent($event)">
            <div *ngIf="magicControlsForm.get('showSkeletonLoader').value" class="skeleton-loader"></div>
          </seb-ng-magic-iframe>-->
          <seb-magic-iframe
            id="magicIframe"
            source="/assets/fluid-page.html">
            <div class="skeleton-loader"></div>
          </seb-magic-iframe>
        </div>
        <div class="card-body border-top py-0">
          <!--<button class="btn btn-link pl-0" (click)="toggleIframeTools()">{{isActiveIframeTools ? 'Hide options and log' : 'Show options and log'}}</button>-->
        </div>
        <div class="card-footer" *ngIf="isActiveIframeTools">
          <h4>Magic iframe options</h4>
          <form [formGroup]="magicControlsForm">
            <div class="row mb-3">
              <div class="col-12 col-sm-auto mb-3">
                <label>Toggle options</label>
                <div class="custom-control custom-checkbox mt-2" [ngbTooltip]="inlineTip" [container]="'body'">
                  <input type="checkbox" class="custom-control-input" id="inlineStyle_checkbox" onclick="toggleInlineStyles()">
                  <label class="custom-control-label" for="inlineStyle_checkbox">Apply inline styles</label>
                </div>
                <div class="custom-control custom-checkbox mt-3" [ngbTooltip]="'Inject external-stylesheet.css and fonts.css in iframe and emit event and show contents when external sources have finished loading.'" [container]="'body'">
                  <input type="checkbox" class="custom-control-input" id="externalStyle_checkbox" onclick="toggleStyles()">
                  <label class="custom-control-label" for="externalStyle_checkbox">Apply external stylesheets (<a href="./assets/css/external-stylesheet.css" target="_blank">styles</a> and <a href="./assets/css/fonts.css" target="_blank">font</a>)</label>
                </div>
                <!--<div class="custom-control custom-checkbox" [ngbTooltip]="'Show custom loader when iframe is loading.'" [container]="'body'">
                  <input type="checkbox" class="custom-control-input" id="showSkeletonLoader_checkbox" formControlName="showSkeletonLoader">
                  <label class="custom-control-label" for="showSkeletonLoader_checkbox">Show custom loader</label>
                </div>-->
                <div class="custom-control custom-checkbox mt-3" [ngbTooltip]="'Resize iframe when content inside iframe changes height.'" [container]="'body'">
                  <input type="checkbox" class="custom-control-input" id="autoResize_checkbox" onclick="toggleAutoResize()">
                  <label class="custom-control-label" for="autoResize_checkbox">Auto resize</label>
                </div>
                <div class="custom-control custom-checkbox mt-3" [ngbTooltip]="'Zoom/scale iframe content to fit size of magic iframe.'" [container]="'body'">
                  <input type="checkbox" class="custom-control-input" id="scaleContent_checkbox" onclick="toggleScaleContent()">
                  <label class="custom-control-label" for="scaleContent_checkbox">Scale content</label>
                </div>
              </div>
              <div class="col-12 col-sm-auto">
                <div class="form-group" [ngbTooltip]="'Debounce time for resize detection of iframe content height.'" [container]="'body'">
                  <label for="resizeDebounceMillis_input">Resize debounce milliseconds</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="resizeDebounceMillis_input" aria-label="Resize debounce milliseconds" onkeyup="updateResizeDebounce()">
                    <div class="input-group-append">
                      <span class="input-group-text">ms</span>
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngbTooltip]="'Debounce time for scale execution.'" [container]="'body'">
                  <label for="scaleDebounceMillis_input">Scale debounce milliseconds</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="scaleDebounceMillis_input" aria-label="Scale debounce milliseconds" onkeyup="updateScaleDebounce()">
                    <div class="input-group-append">
                      <span class="input-group-text">ms</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="matchContent_radio" [ngbTooltip]="'Set min width for magic iframe based on iframe content width. Works best with layouts using fixed width.'" [container]="'body'">Match width of iframe content</label>
                  <div class="row">
                    <div class="col-12 col-md-auto mt-2 mt-md-0 mb-3 mb-md-0">
                      <div class="custom-control custom-radio">
                        <input type="radio" name="matchContentWidth" value="'auto'" class="custom-control-input" id="matchContent_radio_2" onclick="changeMatchContentWidth()">
                        <label class="custom-control-label" for="matchContent_radio_2">Auto</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-auto mb-3 mb-md-0">
                      <div class="custom-control custom-radio">
                        <input type="radio" name="matchContentWidth" value="true" class="custom-control-input" id="matchContent_radio" onclick="changeMatchContentWidth()">
                        <label class="custom-control-label" for="matchContent_radio">True</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-auto">
                      <div class="custom-control custom-radio">
                        <input type="radio" name="matchContentWidth" value="false" class="custom-control-input" id="matchContent_radio_1" onclick="changeMatchContentWidth()">
                        <label class="custom-control-label" for="matchContent_radio_1">False</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer bg-dark pr-0" *ngIf="isActiveIframeTools && $events | async as events">
          <h4 class="text-white mb-0">Magic iframe events: {{events.length}}</h4>
          <div class="temp">
            <code class="d-block scrollbar-dark" style="overflow: auto; max-height: 170px;">
              <div *ngFor="let event of events"><strong class="mr-1">{{event.event + ':'}}</strong><span class="text-white">{{event.src}}</span> <i *ngIf="event.resource" class="text-muted"> {{event.resource}}</i></div>
            </code>
          </div>
          <span class="text-white"><strong>iframe source:</strong> {{activSrc}}</span>
          <div class="btn-group w-100 pr-3 mt-3">
            <button class="btn btn-sm btn-light col" (click)="clearLog()">Clear log</button>
            <button class="btn btn-sm btn-light col" onclick="toggleSource()">Toggle source</button>
            <button class="btn btn-sm btn-light col" (click)="reload()">Reload iframe</button>
          </div>
        </div>
        <div class="card-footer">
          <!--<exemplify [sources]="sources"></exemplify>-->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="px-3 px-sm-0">Normal iframe</h2>
      <div class="card my-3">
        <div class="card-header border-bottom">
          <p class="mb-0 lead">Normal, boring, old iframe that won't resize or let you know what's happening inside. The height is fixed by default so unless you update it manually it will get scrollbars when iframe content is taller than the iframe.</p>
        </div>
        <div class="card-body" id="normalIframe">
          <iframe src="/assets/fluid-page.html" frameborder="0" style="width: 100%" height="200"></iframe>
        </div>
        <div class="card-footer">
          <p>Nothing special going on here but just as reference, this is how you'd normally add an iframe.</p>
          <!--<exemplify [sources]="iframeSource"></exemplify>-->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="py-5 text-center row justify-content-center">
      <div class="col-12 col-sm-auto text-muted">© {{date | date:'yyyy'}} Skandinaviska Enskilda Banken AB (publ)</div>
      <div class="col-12 col-sm-auto"><span class="mr-3">Version: <a href="{{'https://github.com/sebgroup/ng-magic-iframe/releases/' + versionLink}}" target="_blank">{{version}}</a></span>Build: {{travis_build_number}}</div>
      <div class="col-12 col-sm-auto">Licensed under <a href="https://github.com/sebgroup/ng-magic-iframe/blob/master/LICENSE.md" target="_blank">Apache 2.0</a></div>
    </div>
  </footer>
</div>
<script type="application/javascript">
    const magicIframe = document.getElementById('magicIframe');

    magicIframe.addEventListener('magicIframeEvent', ($event) => console.log($event.detail.event));
    // magicIframe.styleUrls = ['./css/external-stylesheet.css', './css/fonts.css'];
    let src = '/assets/fluid-page.html';
    function toggleSource() {
        switch (src) {
            case '/assets/fluid-page.html':
                src = '/assets/fixed-width-page.html';
                break;
            case '/assets/fixed-width-page.html':
                src = '/assets/responsive-page.html';
                break;
            case '/assets/responsive-page.html':
                src = 'http://seb.se';
                break;
            case 'http://seb.se':
                src = '/assets/fluid-page.html';
                break;
        }
        magicIframe.source = src;
    }


    const inlineStylesCheckbox = document.getElementById('inlineStyle_checkbox');
    inlineStylesCheckbox.checked = true;
    function toggleInlineStyles() {
        magicIframe.styles =  magicIframe.styles === 'body { background: white; margin: 0 auto; }' ? '': 'body { background: white; margin: 0 auto; }';
    }

    const styleUrlsCheckbox = document.getElementById('externalStyle_checkbox');
    styleUrlsCheckbox.checked = true;
    let styleUrls = styleUrlsCheckbox.checked;
    function toggleStyles() {
        magicIframe.styleUrls = styleUrls ? ['./css/external-stylesheet.css', './css/fonts.css'] : [];
        styleUrls = !styleUrls;
    }

    const autoResizeCheckbox = document.getElementById('autoResize_checkbox');
    autoResizeCheckbox.checked = true;
    function toggleAutoResize() {
        magicIframe.autoResize = !magicIframe.autoResize;
    }

    const scaleContentCheckbox = document.getElementById('scaleContent_checkbox');
    scaleContentCheckbox.checked = true;
    function toggleScaleContent() {
        magicIframe.scaleContent = !magicIframe.scaleContent;
    }

    const resizeDebounceMillis_input = document.getElementById('resizeDebounceMillis_input');
    resizeDebounceMillis_input.value = 0;
    function updateResizeDebounce() {
        magicIframe.resizeDebounce = resizeDebounceMillis_input.value;
    }

    const scaleDebounceMillis_input = document.getElementById('scaleDebounceMillis_input');
    scaleDebounceMillis_input.value = 0;
    function updateScaleDebounce() {
        magicIframe.scaleDebounce = scaleDebounceMillis_input.value;
    }
    const matchContentWidthRadioButtons = document.getElementsByName('matchContentWidth');
    matchContentWidthRadioButtons[0].checked = true;

    function changeMatchContentWidth() {
        const value = Array.from(matchContentWidthRadioButtons).find(radio => radio.checked).value;
        magicIframe.matchContentWidth = value === "'auto'" ? 'auto' : value === 'true';
    }

    toggleAutoResize();
    toggleScaleContent();
    toggleInlineStyles();
    toggleStyles();
</script>
</body>
</html>
